<section id="blog-excerpts">
    <h1>Mein Blog</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="blog-card">
                    <h2>Stakeholder finden: Gotta catch ‘Em All!</h2>
                    <p>
                        Ein Projekt ist erst dann richtig erfolgreich, wenn du so viele Stakeholder wie möglich zufriedenstellen konntest. Aber um sie zufrieden zu stellen musst du sie erst einmal finden. Wir fragen uns deshalb, welche Arten von Stakeholdern es gibt und wie wir sie identifizieren.
                    </p>

                    <a href="https://blog.felix-klauke.com/2020/03/03/stakeholder-finden-wie-ermittle-ich-alle-betroffenen/" class="button button-secondary button-block">
                        Weiterlesen
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="blog-card">
                    <h2>Warum du kein Singleton benutzen solltest</h2>
                    <p>
                        Jeder angehende Entwickler kommt früher oder später an den Punkt, an denen er sich mit Entwurfsmustern auseinandersetzt. Doch nicht alle Entwurfsmuster sind ohne Vorbehalte zu genießen.
                    </p>

                    <a href="https://blog.felix-klauke.com/2020/03/01/warum-du-kein-singleton-benutzen-solltest/" class="button button-secondary button-block">
                        Weiterlesen
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
