<section id="blog-excerpts">
    <h1>Mein Blog</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="blog-card">
                    <h2>Checkstyle</h2>
                    <p>
                        Lorem Ipsum dolor sit amet und das auch noch mit Checkstyle.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="blog-card">
                    <h2>Checkstyle</h2>
                    <p>
                        Lorem Ipsum dolor sit amet und das auch noch mit Checkstyle.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>