<section id="contact">
    <div class="container">

        <h2>Kontakt aufnehmen</h2>

        <div class="row">
            <div id="standard-contact-form-hs">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: "4920710",
                        formId: "87889395-42a6-49f1-a5a9-c7e3057330fc"
                    });
                </script>
            </div>

        </div>
    </div>
</section>
