<section id="development">

    <h1>Aktivitäten auf GitHub</h1>

    <div class="container">

        <div class="calendar">
            <!-- Loading stuff -->
            Loading the data just for you.
        </div>
    </div>
</section>