<section id="projects">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 col-sm-12">
                <h2>Projekte</h2>

                <p>Viele meiner Freizeit Projekte finden sich auf meinem <a
                            href="https://github.com/FelixKlauke">GitHub</a> Account wieder. Wnan immer ich Zeit habe
                    unterstütze ich gerne Projekte in den Bereichen Hosting, Cloud und Gaming.</p>
            </div>

            <div class="col-md-4 col-sm-12">
                <img width="328" src="/images/projekte.webp" alt="Projects">
            </div>
        </div>
    </div>
</section>
