<section id="service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-12">
                <img src="/images/services.webp" alt="Services">
            </div>
            <div class="col-md-8 col-sm-12">
                <h2>Services</h2>

                <p>Über <a href="https://www.klauke-enterprises.de">meine Firma</a> biete ich seit 2018 zahlreiche
                    Dienstleistungen und Produkte in den Bereichen
                    Hosting, SEO, Web & Software an. Solltest du Interesse daran haben wirf gerne einmal
                    einen Blick auf die Angebote oder kontaktiere mich direkt.</p>

                <p>Am besten erreichst du mich per E-Mail an <a
                            href="mailto:info@felix-klauke.de">info@felix-klauke.de</a> oder per Kontaktformular.</p>
            </div>
        </div>
    </div>
</section>
