<section id="stats">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <i class="fa fa-5x fa-graduation-cap"></i>

                <p>7+ Jahre Erfahrung in Software & IT</p>
            </div>

            <div class="col-md-3 col-sm-12">
                <i class="fa fa-5x fa-building"></i>

                <p>Junger Gründer seit 2018</p>
            </div>

            <div class="col-md-3 col-sm-12">
                <i class="fa fa-5x fa-coffee"></i>

                <p>1337+ Tassen Kaffee</p>
            </div>

            <div class="col-md-3 col-sm-12">
                <i class="fa fa-5x fa-calendar"></i>

                <p>As good as near over 9000 days wasted on earth</p>
            </div>
        </div>
    </div>
</section>
