<section id="whoami">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>Wer bin ich?</h3>

                <p>Ich bin Felix, 20 Jahre alt und komme aus dem schönen Sauerland. Meine Hobbies sind Lesen, Schach, Tischtennis und Informatik.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Was mache ich?</h3>

                <p>Derzeit bin ich dualer Student und mache mich nebenberuflich selbstständig. Ich beschäftige mich viel mit IT Themen. </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Was arbeite ich?</h3>

                <p>Ich mache ein duales Studium mit einer Ausbildung zum Fachinformatiker Systemintegration bei der itemis AG und einem Studium zu Softwaretechnik an der FH Dortmund.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Was ist sonst noch so wichtig?</h3>

                <p>Ich arbeite beharrlich daran den Weltfrieden zu privatisieren und interessiere mich für politische und wirtschaftliche Themen.</p>
            </div>
        </div>
    </div>
</section>
