{% extends 'layout.twig' %}

{% block content %}

    <section id="main-offer">
    </section>

    {% include 'components/whoami.twig' %}

    {% include 'components/development.twig' %}

    {% include 'components/projects.twig' %}

    {% include 'components/blog-excerpt.twig' %}

    {% include 'components/contact.twig' %}

{% endblock %}
