<footer>

    <!-- Footer widgets -->
    <div class="footer-widgets">

        <!-- FlexBox container -->
        <div class="container">

            <!-- FlexBox row -->
            <div class="row">

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>Dienste</h3>

                        <ul>
                            <li><a target="_blank" href="https://git.klauke-enterprises.com">GitLab</a></li>
                            <li><a target="_blank" href="https://sonar.klauke-enterprises.com">SonarQube</a></li>
                            <li><a target="_blank" href="https://repository.klauke-enterprises.com">Nexus</a></li>
                            <li><a target="_blank" href="https://ci.klauke-enterprises.com">Jenkins</a></li>
                            <li><a target="_blank" href="https://webmail.klauke-enterprises.com/SOGo">WebMail</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>Links</h3>

                        <ul>
                            <li><a href="https://www.klauke-enterprises.com">Klauke Enterprises</a></li>
                            <li><a href="https://www.content-creator.org">Content Creator</a></li>
                            <li><a href="https://www.team-netzwerk.net">Team Netzwerk</a></li>
                            <li><a href="https://www.d3adspace.de">D3adspace</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>Communities & Sonstiges</h3>

                        <ul>
                            <li><a href="https://hub.klauke-enterprises.com">Klauke Enterprises Hub</a></li>
                            <li><a href="https://jetbrains.com">JetBrains</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">

                        <h3>Rechtliches</h3>

                        <ul>
                            <li>
                                <a href="/legal/imprint">Impressum</a>
                            </li>
                            <li>
                                <a href="/legal/privacy">Datenschutz</a>
                            </li>
                            <li>
                                <a href="/contact">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Footer copyright -->
    <div class="footer-copyright">

        <!-- FlexBox container -->
        <div class="container">

            <!-- FlexBox row -->
            <div class="row align-items-center">

                <!-- Copyright notice -->
                <div class="col-md-6 col-sm-12">
                    <div class="copyright-notice">

                        <p>Copyright &copy; 2019 Felix Klauke | Alle Rechte vorbehalten.</p>

                    </div>
                </div>

                <!-- Copyright social -->
                <div class="col-md-6 col-sm-12">
                    <div class="copyright-social">
                        <ul>
                            <li>
                                <a href="https://twitter.com/FelixKlauke" aria-label="Twitter">
                                    <i class="fab fa-2x fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/0xFelixKlauke" aria-label="Facebook">
                                    <i class="fab fa-2x fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="ts3server://ts.klauke-enterprises.com" aria-label="Teamspeak">
                                    <i class="fab fa-2x fa-teamspeak"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://medium.com/@felixklauke" aria-label="Medium">
                                    <i class="fab fa-2x fa-medium"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/felix-klauke/" aria-label="LinkedIn">
                                    <i class="fab fa-2x fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.xing.com/profile/Felix_Klauke2" aria-label="Xing">
                                    <i class="fab fa-2x fa-xing"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</footer>
