<footer>

    <div class="container">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3>Das bin ich</h3>

                        <p>Mein Name ist Felix Klauke, ich bin 20 Jahre alt und dualer Student im Studiengang Softwaretechnik an der Fachhoschule Dortmund. Seit 2018 bin ich außerdem nebenberuflich selbstständig in der IT Dienstleistungs Branche.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3>Firmen</h3>

                        <ul>
                            <li><a href="https://www.klauke-enterprises.de">
                                    <i class="fa fa-angle-right"></i>
                                    Klauke Enterprises</a></li>
                            <li><a href="https://www.itemis.com">
                                    <i class="fa fa-angle-right"></i>
                                    itemis AG</a></li>
                        </ul>

                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3>Weitere links</h3>

                        <ul>
                            <li><a href="https://www.klauke-enterprises.de">
                                    <i class="fa fa-angle-right"></i>
                                    Hosting</a></li>
                            <li><a href="https://www.klauke-enterprises.com/blog">
                                    <i class="fa fa-angle-right"></i>
                                    Mein Blog</a></li>
                            <li><a href="https://cloudflare.com">
                                    <i class="fa fa-angle-right"></i>
                                    Cloudflare</a></li>
                            <li><a href="https://first-colo.net">
                                    <i class="fa fa-angle-right"></i>
                                    Rechenzentrum</a></li>
                            <li><a href="https://www.content-creator.org">
                                    <i class="fa fa-angle-right"></i>
                                    Content Creator</a></li>
                            <li><a href="https://jetbrains.com">
                                    <i class="fa fa-angle-right"></i>
                                    Entwicklungsumgebungen</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3>Rechtliches</h3>

                        <ul>
                            <li><a href="/legal/imprint">
                                    <i class="fa fa-angle-right"></i>
                                    Impressum</a></li>
                            <li><a href="/legal/privacy">
                                    <i class="fa fa-angle-right"></i>
                                    Datenschutz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <p>Copyright &copy; 2018 - 2019 Felix Klauke | Alle Rechte vorbehalten.</p>

            <a href="https://twitter.com/FelixKlauke" aria-label="Twitter">
                <i class="fab fa-2x fa-twitter"></i>
            </a>

            <a href="https://www.facebook.com/0xFelixKlauke" aria-label="Facebook">
                <i class="fab fa-2x fa-facebook"></i>
            </a>

            <a href="https://www.twitch.tv/sasukekawaiix3" aria-label="Twitch">
                <i class="fab fa-2x fa-twitch"></i>
            </a>

            <a href="https://www.instagram.com/felixklauke/" aria-label="Instagram">
                <i class="fab fa-2x fa-instagram"></i>
            </a>

            <a href="https://www.xing.com/profile/Felix_Klauke2" aria-label="Xing">
                <i class="fab fa-2x fa-xing"></i>
            </a>

            <a href="https://www.linkedin.com/in/felix-klauke" aria-label="LinkedIn">
                <i class="fab fa-2x fa-linkedin"></i>
            </a>

            <a href="https://github.com/FelixKlauke" aria-label="GitHub">
                <i class="fab fa-2x fa-github"></i>
            </a>

            <a href="ts3server://ts.klauke-enterprises.de" aria-label="Teamspeak">
                <i class="fab fa-2x fa-teamspeak"></i>
            </a>

            <a href="https://medium.com/@felixklauke" aria-label="Medium">
                <i class="fab fa-2x fa-medium"></i>
            </a>
        </div>
    </div>

</footer>
