<footer>

    <!-- Footer widgets -->
    <div class="footer-widgets">

        <!-- FlexBox container -->
        <div class="container">

            <!-- FlexBox row -->
            <div class="row">

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>Dienste</h3>

                        <ul>
                            <li><a href="https://sonar.klauke-enterprises.com/">SonarQube</a></li>
                            <li><a href="https://git.klauke-enterprises.com/">GitLab</a></li>
                            <li><a href="https://repo.klauke-enterprises.com/">Nexus Repository</a></li>
                            <li><a href="https://file-sharing.klauke-enterprises.com/">File Sharing</a></li>
                            <li><a href="https://paste.klauke-enterprises.com/">Paste / Snippets</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>Links</h3>

                        <ul>
                            <li><a href="https://www.fh-dortmund.de/de/index.php">FH Dortmund</a></li>
                            <li><a href="https://www.itemis.de/">itemis AG</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>Communities & Sonstiges</h3>

                        <ul>
                            <li><a href="https://minecraft-server.eu">Minecraft-server.eu</a></li>
                            <li><a href="https://jetbrains.com">JetBrains</a></li>
                            <li><a href="https://travis-ci.org/felixklauke">Travis CI</a></li>
                            <li><a href="https://living-bots.net/">Living Bots</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="footer-widget">

                        <h3>Rechtliches</h3>

                        <ul>
                            <li>
                                <a href="/legal/imprint">Impressum</a>
                            </li>
                            <li>
                                <a href="/legal/privacy">Datenschutz</a>
                            </li>
                            <li>
                                <a href="mailto:info@felix-klauke.de">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Footer copyright -->
    <div class="footer-copyright">

        <!-- FlexBox container -->
        <div class="container">

            <!-- FlexBox row -->
            <div class="row align-items-center">

                <!-- Copyright notice -->
                <div class="col-md-6 col-sm-12">
                    <div class="copyright-notice">

                        <p>Copyright &copy; 2019 Felix Klauke | Alle Rechte vorbehalten.</p>

                    </div>
                </div>

                <!-- Copyright social -->
                <div class="col-md-6 col-sm-12">
                    <div class="copyright-social">
                        <ul>
                            <li>
                                <a href="https://twitter.com/FelixKlauke" aria-label="Twitter">
                                    <i class="fab fa-2x fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/0xFelixKlauke" aria-label="Facebook">
                                    <i class="fab fa-2x fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="ts3server://ts.klauke-enterprises.com" aria-label="Teamspeak">
                                    <i class="fab fa-2x fa-teamspeak"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://medium.com/@felixklauke" aria-label="Medium">
                                    <i class="fab fa-2x fa-medium"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/felix-klauke/" aria-label="LinkedIn">
                                    <i class="fab fa-2x fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.xing.com/profile/Felix_Klauke2" aria-label="Xing">
                                    <i class="fab fa-2x fa-xing"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</footer>
