// Import variables
@import url('vars');

// Import google fonts
@import url('https://fonts.googleapis.com/css?family=Charm|Open+Sans|Roboto:400,500,700|Titillium+Web');

// Import bootstrap grid
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css');

// Import components
@import url('components/buttons');

// General font config
body {

  font-family: @font-roboto;
}

// Usually we don't want to use text decoration on any link
a {

  text-decoration: none;
}

// Typography
h1 {

  font-family: @font-titilium-web;
}
