@import (inline) "../../node_modules/@klauke-enterprises/antonia/dist/style.css";
@import (inline) "../../node_modules/@klauke-enterprises/antonia/dist/components/contact-header.css";
@import (inline) "../../node_modules/@klauke-enterprises/antonia/dist/components/navigation.css";
@import (inline) "../../node_modules/@klauke-enterprises/antonia/dist/components/footer.css";

@import "../../node_modules/@klauke-enterprises/antonia/dist/util/vars.less";

i {
  color: @color-white !important;
}

header {

  .navbar {

    .navbar-brand {

      img {
        border-radius: 50%;
        width: 80px;
      }
    }
  }
}

#contact {

  h2 {
    font-size: xx-large;
    text-align: center;

    margin-bottom: 40px;
  }

  padding: 50px 0;

  #standard-contact-form {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  #standard-contact-form-hs {

    width: 70%;
    margin: 0 auto;
    display: block;

    iframe.hs-form-iframe {
      width: 100% !important;
    }
  }
}

